<!DOCTYPE html>
<html>
<head>
    <link href='assets/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Bungee|Comfortaa" rel="stylesheet">
    <link href='assets/css/styles.css' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
    <title>Find and Replace</title>
</head>
<body>
    <div class="container">
        <h1>Find and Replace</h1>
        <form action='/result' method='get'>
            <div class='form-group'>
                <input type='text' class='form-control' name='input1' placeholder='Enter a sentence'>
            </div>
            <div class='form-group'>
                <input type='text' class='form-control' name='input2' placeholder='Enter a word to search for'>
            </div>
            <div class='form-group'>
                <input type='text' class='form-control' name='input3' placeholder='Enter a replacement word'>
            </div>
            <button class='btn btn-info btn-lg' type='submit'>Find and Replace!</button>
        </form>
    </div>
</body>
</html>
