<!DOCTYPE html>
<html>
<head>
    <link href='assets/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Bungee|Comfortaa" rel="stylesheet">
    <link href='assets/css/styles.css' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
    <title>Find and Replace</title>
</head>
<body>
    <div class="container">
        <h1>Find and Replace</h1>
        <h3>Your new sentence:</h3>
        <p>{{ result }}</p>
        <form action='/' method='get'>
            <button type='submit' class='btn-lg btn btn-primary'>Back</button>
        </form>
    </div>
</body>
</html>
